
body{
  padding:0;
  margin:0;
  box-size:border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing:2px;
  line-height:2;
  overflow-x:hidden;
}
/* NAV SECTION */
nav{
  display:flex;
  background-color:#0002A1;

  color:white;
}
.nav-brand{
  padding:20px 0 10px 30px;
  
}
.nav-lists{
  display:flex;
  position:absolute;
 right:10px;
  list-style:none;
  padding-top:25px;

  
}
.nav-links{
  padding:0 10px;
    text-decoration:none;
  color:white;
}
/* MAIN SECTION */
main{
  text-align:center;
  background-image:url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  background-attachment:fixed;
  min-height:600px;
  min-width:100%;

}
.first-content{
  color:white;
    padding-top:250px;

}
.content-head{
  font-weight:30px;
  font-size:50px;
}
h4{
  font-weight:100;
}
.content-p{
  padding:10px 80px
}
/* SECOND SECTION */
.second-sec{
line-height:2;
  text-align:center;
height:20%;
  background-color:#3F0071;
  color:white;
 
}
.second-p{
  line-height:2;
  margin-top:20px;
}
.second-content{
  padding-top:30px;
}
.second-btn{
  padding:10px 15px;
  font-size:1rem;
  border:none;
  letter-spacing:1px;
  color:white;
  background-color:red;
  margin:20px auto;
}
.small-text{
  font-size:0.8rem;
}
.second-img1{
  position:relative;
  top:50px;


max-width:70%;
  margin-right:20px;
  
}

/* Third section */
.third-section{
  text-align:center;
}
.third-content{
  padding-top:80px;
}
.third-p{
  margin:20px 30px;
 
}
.third-btn{
  padding:10px 20px;
  border:none;
  color:white;
  font-size:1rem;
   background-color:#0002A1;
}
.third-img{
  width:100%;
  padding:0 20px;
}
/* fourth-section */
.fourth-section{
box-size:border:box;
  text-align:center;
  background-image:url("http://cdn-7.nikon-cdn.com/Images/Learn-Explore/Photography-Techniques/2012/Astrophotography-pinpoint-stars/Media/Deb-S-Indian-River-Lagoon-single-shot.jpg");
  background-attachment:fixed;
  color:white;
  min-height:500px;
 
}
.fourth-content{
  padding-top:200px;
}
/* Gift-card Section */
.gift-img{
width:50%;
  margin-right:100px;
  float:left;
 
}
.gift-content{
  margin-top:50px;
}
.gift-btn{
padding:10px 20px;
  background-color:#3F0071;
  color:white;
  font-size:1rem;
  border:none;
  margin-top:20px;
  
}
.card-p2{
margin-top:50px;
}
hr{
  margin-top:10px;
  margin-right:80px;
}
/* FOOTER SECTION */
footer{
  align-items:center;
  text-align:center;
/*   color:white; */
}
.footer-ul{
  list-style:none;
  margin-top:30px;

}

.footer-content{
  display:flex;
padding:30px 80px;
 line-height:1.5;
  background-color:#180A0A;  
  justify-content:space-between;
  margin-top:150px;
  color:white;
 
}
.footer-content h3{
border-bottom:2px solid white;
}
main{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}
.lower-footer{
  background-color:#434242;
  color:white;
}
